/accounts_api/node_modules
/cluster_service_monitor/node_modules
/micro_service_template/node_modules
/secket_service/node_modules
/solicitudes_api/node_modules
/ofertas_api/node_modules
/update_service/node_modules
/rabbitmq_data
/update_service